/* Basic styles */
body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin: 20px;
    padding: 10px;
    border: 1px solid #e7dfdfb9;
}

header {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    margin: 20px;
    padding: 10px;
}

.logo {
    width: 80px;
    height: auto;
}

h1 {
    margin: 0 20px;
    flex-grow: 1;
    text-align: left;
}

#login-btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

#search-bar {
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    background-color: #3d7aac;
    text-align: center;
    padding: 1.0rem 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}

/* Main content styles */
main {
    max-width: 1250px;
    margin: 0 auto;
    padding: 1rem;
}

.welcome, .quick-finds, .latest-news, .news-pictures {
    margin-bottom: 1rem;
}

.welcome img, .news-pictures img {
    width: 100%;
    height: auto;
    display: block;
}

/* Footer styles */
footer {
    background-color: #9bc1f0;
    color: white;
    text-align: center;
    padding: 0.3rem 0;
    font-size: 1rem;
}

/* Styles for mobile devices */
@media (max-width: 600px) {
    header {
        flex-direction: column;
    }

    .logo, h1, #search-bar, #login-btn {
        width: 100%; 
        margin-bottom: 0.5rem; 
    }

    nav ul li {
        display: block; 
    }

    nav ul li a {
        display: block; 
        margin-bottom: 0.5rem; 
    }
}

/* Styles for tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    header {
        padding: 5px;
    }

    nav ul {
        padding: 0.5rem 0;
    }

    nav ul li a {
        font-size: 1rem; 
    }
}

/* Styles for full-size monitors */
@media (min-width: 1025px) {
    header {
        padding: 20px;
    }

    nav ul li a {
        font-size: 1.2rem;
    }
}